.hard{
    .hard-text{
font-family: Playfair Display;
font-size: 36px;
line-height: 42px;
padding-left: 332px;
padding-right: 332px;
padding-top: 93px;
padding-bottom: 598px;
text-transform: uppercase;
position: absolute;
color: white;
    }
    .time{
    
    }
    .oboloxka{
        height: 325px;
        width: 260px;
        background-color: yellow;
    }
    .save{
    position: absolute;
       padding-left:23px ;
       padding-right:22px ;
       padding-top: 55px;
      padding-bottom: 56px;
       background: #191B1C;
       display: flex;
    }
    .time-text{
        font-family: Playfair Display;
    }
    .glavni{
        display: flex;
        background: black;
    }
    .time-1{
      padding-top: 232px;
      padding-left: 80px;
    }
    .time-3{
        padding-right:80px ;
        padding-top: 232px;
    }
    .time-2{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 232px;
    }
}