.time-8{
 
  .time-1{
      padding-left: 200px;
  }
  .time-{
      padding-top: 100px;
  }
  .fhop{
      
  }
  .save{
      background-color: black;
  }
  .glavn{
      display: flex;
      position: absolute;
  }
  .glavnie{
      display: flex;
  }
  .clacc-1{
     padding-left: 405px;
     padding-bottom: 40px;
  }
  .hor{
      display: flex;
      background: black;
  }
  .hore{
      display: flex;
      background: black;
  }
  .clacc-5{
    padding-left: 405px;
    padding-bottom: 40px;
  }
  .clacc-2{
padding-left: 23px;
padding-bottom: 40px;
  }
  .clacc-3{
padding-left: 23px;
padding-bottom: 40px;
  }
  .clacc-4{
padding-left: 23px;
padding-bottom: 40px;
padding-right: 406px;
  }
 
  .clacc-6{
padding-left: 23px;
padding-bottom: 40px;
  }
  .clacc-7{
padding-left: 23px;
padding-bottom: 40px;
  }
  .clacc-8{
padding-left: 23px;


  }
  .time-8-text{
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: black;
    
  }
  .time-text{
    color: white;
  }

  
}